**/*.key
**/*.db
**/*.pem
**/*.crt
**/*.pfx
**/*.csr
**/*.gpg
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
**/*.p12
build/bin/
frontend/src/wailsjs/
/build/
/dist/
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib
**/*.app
**/*.out
**/*.test
**/*.prof
.cache/
/vendor/
go.work
go.work.sum
node_modules/
.pnpm-debug.log*
yarn-error.log*
npm-debug.log*
frontend/dist/
frontend/build/
frontend/.next/
frontend/out/
frontend/.vite/
frontend/.storybook-static/
frontend/cypress/screenshots/
frontend/cypress/videos/
.idea/
*.iml
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
*.code-workspace
.history/
.project
.settings/
.classpath
.factorypath
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
*.log
logs/
*.swp
*.bak
*.tmp
*~
tmp/
temp/
.eslintcache
.stylelintcache
*.sqlite
*.sqlite-journal
*.sql.gz
.sass-cache/
.eslintcache